[submodule "tree-sitter/tree-sitter"]
	path = libs/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "src/SampleProject/tree-sitter-json"]
	path = src/SampleProject/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json.git
